<div class="field-group">
    <label for="@Id" class="form-label">
        @Label
    </label>
    <input type="@Type" id="@Id" name="@Name" value="@Value"
        class="form-control @(Error != null ? "is-invalid" : null)">
    @if (Error != null)
    {
        <p class="invalid-feedback">@Error</p>
    }
</div>

@code
{
    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? Type { get; set; }

    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public string? Error { get; set; }
}
